/* BODY */

body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

a {

    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

/* HEADER*/

header {
    background: black;
    background-image: url("../img/hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    height: 400px;
    padding-top:30px;

}

header .logo a {
    background-image: url("../img/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    height: 80px;
    display: inline-block;
    text-indent: -9999999px;
    width: 300px;
    position: relative;
    top: -30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {

    display: inline-block;
    margin-right: 20px;

}

h1 {
    display: none;
}



/* FEATURES */

.features {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.features figure {
    margin: auto;
    width: 200px;
    text-align: center;

}

.features figure img {
    border-radius: 50%;
    width: 200px;
    box-shadow: grey 0px 0px 10px;
    border: 1px solid white;
}

/* FOOTER */

footer {
    background: black;
    color: white;
    padding: 20px 20px;
    color: grey;
    text-align: center;
    font-size: 12px;
}